main {
	margin-top: 60px;
}

.row-margin {
	margin-bottom: 20px;
}

.box {
	height: 1200px;
	background-color: #efefef;
}

.footer: {
	height: 300px;
	background-color: black;
}

.box2 {
	height: 200px;
}